
/*
#preview {
	display: none;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#info0 {
	padding-top: 10px;
	margin-bottom:-23px;
	display:none;
}
#info1 {
	display:none; 
	border-radius: 5px; 
	margin-top: 8px; 
	width: 90%;
}

#show0 {
	display:inline;
}

*/

#info
{
   background: url("../images/more_info.gif") no-repeat center center;
   height: 16px;
   width: 16px;
}
.checkbox {cursor:pointer}
#dvLoading
{
   background: transparent url("../images/loading-page.gif") no-repeat center center;
   height: 100px;
   width: 100px;
   position: fixed;
   z-index: 1000;
   left: 50%;
   top:13%;
}
.mandatory {
	font-size: 10px; 
	margin-top: 1px; 
	margin-bottom: 10px; 
	margin-left: 14.5em; 
	text-align:left;
}
.info1_p
{
	cursor: pointer;
	float: right;
	margin-top: -35px;
}
.th_action {
	width: 90px;
	text-align: center;
}
.th_current {
	text-align: right;
	width: 100%;
}
.th_name {
	width: 140px;
	text-align: left;
}
.th_hint {
	width: 18%;
	text-align: left;
}
.th_option {
	width: 38%;
	text-align: left;
}
.th_ndx {
	width: 20px;
	text-align: center;
}
.th_mand {
	width: 20px;
	text-align: center;
}
.th_com {
	width: 20px;
	text-align: left;
}
.th_type {
	width: 132px;
	text-align: left;
}
.th_type2 {
	width: 15%;
	text-align: left;
}
.th_type3 {
	width:20%;
	text-align:left
}
.th_type4 {
	width:40%;
	text-align:left;
}
.td_in {
	padding-left: 0px; 
	padding-right: 2px; 
	overflow: hidden;
}
.td_move {
	width: 90px;
	padding: 1px;
	text-align:center;
}
.td_pad {
	padding-left: 0px;
	padding-right: 2px;
}
.td_0 {
	padding-left:0px;
	font-size: 12px;
}
.td_02 {
	padding-left:0px;
	padding-right:2px;
	overflow:hidden
}
.td_12 {
	padding-left: 0px;
	font-size: 12px;
}
.td_20 {
	width: 20px;
	text-align:center;
}
.td_132 {
	width:132px;
	text-align:left;
}
.div_0 {
	padding-top: 10px;
	margin-bottom:-23px;
}

.dt10 {
	width: 12em; 
	border-right-width: 0;
	font-size: 12px;
}
.dt100 {
	width: 100%;
}
.dd10 {
	margin-left: 13em;
	border-left-width: 0;
}
.div_1 {
	font-size: 10px;
	margin-top: 1px;
	margin-bottom: 10px;
	margin-left: 14.5em;
	text-align:left;
 }
.fields2 {
	border-radius: 5px;
}